#!/bin/bash

for file in $(find . -name *.php);
do
    #remove dot
    ns=${file:2};
    file_t="$file.tmp";
    echo "<?php" > $file_t
    ns=${ns%.php};
    ns="namespace $ns"
    ns="${ns%/*};"
    ns=$(echo $ns | tr / \\\\)
    echo ${ns} >> $file_t;
    cat $file >> $file_t;
    mv $file_t $file
done
